<div class='swiper-slide'>
    <div class="project-card " style="" data-modal-target="{{ path }}" data-path="{{ path }}">
        <div class="image">
            {% assign techIcons = tech | split : "," %}
            <img class="image-cover" src="{{ image-path | url }}"/>
        </div>
        <h3>{{ lead }}</h3>
        <h2>{{ name }}</h2>
        {% if copy %}<p class="copy">{{ copy }}</p>{% endif %}
        <div class="tech-icons {{ icon-color }}">
            {% for techIcon in techIcons %}
                <div class="tech-icon"   
                    aria-label="{{techIcon}}"
                    aria-description="This project uses {{techIcon}} technology">
                {% include 'icons/tech-icons', icon:techIcon %}
                </div>
            {% endfor %}
        </div>
        <div class="line">
            {% include "svganim/line" %}
        </div>
    </div>  
</div>